.footer
    .footer-top
        p.footer-top-text Follow us on
        .footer-top-social
            svg.icon.icon-facebook.icon-footer
                use(xlink:href='#icon-facebook')
            svg.icon.icon-googleplus.icon-footer
                use(xlink:href='#icon-googleplus')
            svg.icon.icon-twitter.icon-footer
                use(xlink:href='#icon-twitter')
            svg.icon.icon-linkedin.icon-footer
                use(xlink:href='#icon-linkedin')
    .footer-bottom
        p.footer-bottom-copyrigth © Copyright, All Rights Reserved.
        p.footer-bottom-design Designed by Bootstrapmade.com | Rewritten by Mustafa Çendek