html
  head
    meta(charset='UTF-8')
    title Title
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', type='text/css', href='./style.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:600,300|Josefin+Slab:400,700,600italic,600,400italic' rel='stylesheet' type='text/css')


  body
    include icons
    include header
    include ../component/banner
    include ../component/strip
    include ../component/service
    include ../component/portfolio
    include ../component/our_team
    include ../component/quote
    block content
    script(type='text/javascript' src='./js/jquery-3.4.0.min.js')
    script(type='text/javascript' src='./js/jquery-migrate-1.4.1.min.js')
    script(type='text/javascript' src='./js/slick.min.js')
    script(type='text/javascript' src='./js/main.js')

