html
  head
    meta(charset='UTF-8')
    title Title
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='main.css')
  body
    include header
    script(src='js/main.js')