html
  head
    meta(charset='UTF-8')
    title Title
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='style.css')
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:600,300|Josefin+Slab:400,700,600italic,600,400italic" rel="stylesheet" type="text/css">
  body
    include icons
    include header
    include ../component/banner
    include ../component/strip
    include ../component/service
    block content