.banner#banner
    .banner-container
        p.banner-container-text.bigsize Welcome To 
            span.bold Tempo
        p.banner-container-text.smallsize             
            |   Multipurpose HTML5 
            del Bootstrap
            |   template.
        a.banner-container-link(href="")
            |Learn More	&nbsp;&nbsp;
            svg.icon.icon-paper-plane
                use(xlink:href='#icon-paper-plane')




//
        svg.icon.icon-linkedin
            use(xlink:href='#icon-linkedin')

        svg.icon.icon-twitter
            use(xlink:href='#icon-twitter')

        svg.icon.icon-googleplus
            use(xlink:href='#icon-googleplus')

        svg.icon.icon-facebook
            use(xlink:href='#icon-facebook')
//


