.contact#contact
    .contact-container
        .contact-container-header
            p.contact-container-header-title Quick Contact
            p.contact-container-header-explanation Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            .contact-container-header-separator
        form.contact-container-form(action="#", method="get")
            input#name(type="text", name="name", placeholder="Your Name", required)
            input#email(type="email", name="email", placeholder="Your e-mail", required)
            input#subject(type="text", name="subject", placeholder="Subject", required)
            textarea#message(name="message", placeholder="Message", cols="30", rows="10", required)
            input#submit(type="submit", value="Submit Now")

