.our_Team#our_Team
    .our_Team-header
        p.our_Team-header-title Meet Our Team
        p.our_Team-header-explanation Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        .our_Team-header-separator
    .our_Team-slider
        .our_Team-slider-item
            .our_Team-slider-item-photo
                img.our_Team-slider-item-photo-img(src="../../img/agent1.jpg", alt="")
            .our_Team-slider-item-detail
                span.our_Team-slider-item-detail-name Haris Brown
                span.our_Team-slider-item-detail-position Sr. UI Designer
                span.our_Team-slider-item-detail-follow Follow me:
                .our_Team-slider-item-detail-sociallinks
                    svg.icon.icon-facebook
                        use(xlink:href='#icon-facebook')
                    svg.icon.icon-googleplus
                        use(xlink:href='#icon-googleplus')
                    svg.icon.icon-twitter
                        use(xlink:href='#icon-twitter')
                    svg.icon.icon-linkedin
                        use(xlink:href='#icon-linkedin')
        .our_Team-slider-item
            .our_Team-slider-item-photo
                img.our_Team-slider-item-photo-img(src="../../img/agent2.jpg", alt="")
            .our_Team-slider-item-detail
                span.our_Team-slider-item-detail-name Emmy Brown
                span.our_Team-slider-item-detail-position Jr. UI Designer
                span.our_Team-slider-item-detail-follow Follow me:
                .our_Team-slider-item-detail-sociallinks
                    svg.icon.icon-facebook
                        use(xlink:href='#icon-facebook')
                    svg.icon.icon-googleplus
                        use(xlink:href='#icon-googleplus')
                    svg.icon.icon-twitter
                        use(xlink:href='#icon-twitter')
                    svg.icon.icon-linkedin
                        use(xlink:href='#icon-linkedin')
        .our_Team-slider-item
            .our_Team-slider-item-photo
                img.our_Team-slider-item-photo-img(src="../../img/agent3.jpg", alt="")
            .our_Team-slider-item-detail
                span.our_Team-slider-item-detail-name Iain Dante
                span.our_Team-slider-item-detail-position Jr. UI Designer
                span.our_Team-slider-item-detail-follow Follow me:
                .our_Team-slider-item-detail-sociallinks
                    svg.icon.icon-facebook
                        use(xlink:href='#icon-facebook')
                    svg.icon.icon-googleplus
                        use(xlink:href='#icon-googleplus')
                    svg.icon.icon-twitter
                        use(xlink:href='#icon-twitter')
                    svg.icon.icon-linkedin
                        use(xlink:href='#icon-linkedin')
        .our_Team-slider-item
            .our_Team-slider-item-photo
                img.our_Team-slider-item-photo-img(src="../../img/agent4.jpg", alt="")
            .our_Team-slider-item-detail
                span.our_Team-slider-item-detail-name Kate Haris
                span.our_Team-slider-item-detail-position Jr. UI Designer
                span.our_Team-slider-item-detail-follow Follow me:
                .our_Team-slider-item-detail-sociallinks
                    svg.icon.icon-facebook
                        use(xlink:href='#icon-facebook')
                    svg.icon.icon-googleplus
                        use(xlink:href='#icon-googleplus')
                    svg.icon.icon-twitter
                        use(xlink:href='#icon-twitter')
                    svg.icon.icon-linkedin
                        use(xlink:href='#icon-linkedin')