.portfolio#portfolio
    .portfolio-container
        .portfolio-container-head
            p.portfolio-container-head-title  Our Privious Works
            p.portfolio-container-head-explanation Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .portfolio-container-head-separetor
        .portfolio-container-menu
            a.portfolio-container-menu-item(href="#portfolio") ALL
            a.portfolio-container-menu-item(href="#portfolio") APP
            a.portfolio-container-menu-item(href="#portfolio") CARD
            a.portfolio-container-menu-item(href="#portfolio") LOGO
            a.portfolio-container-menu-item(href="#portfolio") WEB
        .portfolio-container-gallery
                .portfolio-container-gallery-item
                    img.portfolio-container-gallery-item-img(src="./img/portfolio/app1.jpg", alt="")
                    .portfolio-container-gallery-item-head
                        .portfolio-container-gallery-item-head-title App 1
                        .portfolio-container-gallery-item-head-explanation Alored dono par
                .portfolio-container-gallery-item
                    img.portfolio-container-gallery-item-img(src="./img/portfolio/app2.jpg", alt="")
                    .portfolio-container-gallery-item-head
                        .portfolio-container-gallery-item-head-title App 2
                        .portfolio-container-gallery-item-head-explanation Alored dono par
                .portfolio-container-gallery-item
                    img.portfolio-container-gallery-item-img(src="./img/portfolio/app3.jpg", alt="")
                    .portfolio-container-gallery-item-head
                        .portfolio-container-gallery-item-head-title App 3
                        .portfolio-container-gallery-item-head-explanation Alored dono par
                .portfolio-container-gallery-item
                    img.portfolio-container-gallery-item-img(src="./img/portfolio/card1.jpg", alt="")
                    .portfolio-container-gallery-item-head
                        .portfolio-container-gallery-item-head-title Card 1
                        .portfolio-container-gallery-item-head-explanation Alored dono par
                .portfolio-container-gallery-item
                    img.portfolio-container-gallery-item-img(src="./img/portfolio/card2.jpg", alt="")
                    .portfolio-container-gallery-item-head
                        .portfolio-container-gallery-item-head-title Card 2
                        .portfolio-container-gallery-item-head-explanation Alored dono par
                .portfolio-container-gallery-item
                    img.portfolio-container-gallery-item-img(src="./img/portfolio/card3.jpg", alt="")
                    .portfolio-container-gallery-item-head
                        .portfolio-container-gallery-item-head-title Card 3
                        .portfolio-container-gallery-item-head-explanation Alored dono par
                .portfolio-container-gallery-item
                    img.portfolio-container-gallery-item-img(src="./img/portfolio/logo1.jpg", alt="")
                    .portfolio-container-gallery-item-head
                        .portfolio-container-gallery-item-head-title Logo 1
                        .portfolio-container-gallery-item-head-explanation Alored dono par
                .portfolio-container-gallery-item
                    img.portfolio-container-gallery-item-img(src="./img/portfolio/logo2.jpg", alt="")
                    .portfolio-container-gallery-item-head
                        .portfolio-container-gallery-item-head-title Logo 2
                        .portfolio-container-gallery-item-head-explanation Alored dono par
                .portfolio-container-gallery-item
                    img.portfolio-container-gallery-item-img(src="./img/portfolio/logo3.jpg", alt="")
                    .portfolio-container-gallery-item-head
                        .portfolio-container-gallery-item-head-title Logo 3
                        .portfolio-container-gallery-item-head-explanation Alored dono par
                .portfolio-container-gallery-item
                    img.portfolio-container-gallery-item-img(src="./img/portfolio/web1.jpg", alt="")
                    .portfolio-container-gallery-item-head
                        .portfolio-container-gallery-item-head-title Web 1
                        .portfolio-container-gallery-item-head-explanation Alored dono par
                .portfolio-container-gallery-item
                    img.portfolio-container-gallery-item-img(src="./img/portfolio/web2.jpg", alt="")
                    .portfolio-container-gallery-item-head
                        .portfolio-container-gallery-item-head-title Web 2
                        .portfolio-container-gallery-item-head-explanation Alored dono par
                .portfolio-container-gallery-item
                    img.portfolio-container-gallery-item-img(src="./img/portfolio/web3.jpg", alt="")
                    .portfolio-container-gallery-item-head
                        .portfolio-container-gallery-item-head-title Web 3
                        .portfolio-container-gallery-item-head-explanation Alored dono par