.servicesline#services
    .servicesline-container
        .servicesline-container-header
            p.servicesline-container-header-title Our Service
            p.servicesline-container-header-explanation Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            .servicesline-container-header-separator
        .servicesline-container-services
            .servicesline-container-services-container
                .servicesline-container-services-container-logo
                    svg.icon.icon-image
                        use(xlink:href='#icon-image')
                .servicesline-container-services-container-content
                    p.servicesline-container-services-container-content-title Design
                    p.servicesline-container-services-container-content-explanation  doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis. 
            .servicesline-container-services-container
                .servicesline-container-services-container-logo
                    .servicesline-container-services-container-logo-container
                        svg.icon.icon-code
                            use(xlink:href='#icon-code')
                .servicesline-container-services-container-content
                    p.servicesline-container-services-container-content-title Development
                    p.servicesline-container-services-container-content-explanation  doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis. 
            .servicesline-container-services-container
                .servicesline-container-services-container-logo
                    .servicesline-container-services-container-logo-container
                        svg.icon.icon-diamond
                            use(xlink:href='#icon-diamond')            
                .servicesline-container-services-container-content
                    p.servicesline-container-services-container-content-title Marketing
                    p.servicesline-container-services-container-content-explanation  doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.