.servicesline#services
    .servicesline-container
        .servicesline-container-header
            p.servicesline-container-header-title Our Service
            p.servicesline-container-header-explanation Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            .servicesline-containe-header-separator-line
        .servicesline-container-services
            .servicesline-container-services-container
                .servicesline-container-services-container-logo
                .servicesline-container-services-container-content
                    p.servicesline-container-services-container-content-title Design
                    p.servicesline-container-services-container-content-explanation Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta amet 
            .servicesline-container-services-container
                .servicesline-container-services-container-logo
                .servicesline-container-services-container-content
                    p.servicesline-container-services-container-content-title Development
                    p.servicesline-container-services-container-content-explanation Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta amet 
            .servicesline-container-services-container
                .servicesline-container-services-container-logo
                .servicesline-container-services-container-content
                    p.servicesline-container-services-container-content-title Marketing
                    p.servicesline-container-services-container-content-explanation Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta amet