.strip
    .strip-container
        p.strip-container-bigtext Say Hey to Tempo!!
        p.strip-container-smalltext
            |   Full Responsive HTML5 
            del Bootstrap
            |   Template