.headerContainer{
    position: relative;
    width: 100%;
    max-width: $max-width;
    height: 35px;
    padding: 20px 10px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    position: relative;
    &-text{
        font-family: 'Josefin Slab', serif;
        font-weight: 700;
        font-size: 42px;
        color: $color-pink;
        text-decoration: none;
        &:hover
        {
            color:$color-soft-grey;
        }
    }
}

.navigation{
    position: relative;
    margin-left: auto;
    &-links{
        display: inline-block;
        height: 24px;
        margin-right: 20px;

        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        color: $color-grey;

        border-bottom: 2px solid white;
        &:last-child{
            margin-right: 0px;
        }
        &:hover{
            border-bottom-color: $color-pink-border;
        }

    }
}
.pink{
    border: 3px solid $color-pink;
    color: $color-pink;
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
    &:hover{
        border: 3px solid $color-pink !important;
        background-color: $color-pink;
        color:white;
    }
}