.contact{
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    &-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: $max-width;
        padding-left: 20px;
        padding-right: 20px;
        &-header{
            display: flex;
            flex-direction: column;
            width: 500px;
            align-items: center;
            &-title{
                font-size: 36px;
                color: $color-grey;
                padding: 0px;
                margin: 0px;
                margin-top: 65px;
            }
            &-explanation{
                font-size: 14px;
                color: $color-dark-grey;
            }
            &-separator{
                display: block;
                width: 100px;
                height: 3px;
                background-color: $color-pink;
            }
        }
        &-form{
            display: block;
            width: 100%;
            max-width: $max-width;
            padding: 10px 20px;
            margin-top: 35px;
        }
    }
}
#name,#email,#subject{
    display: inline-block;
    border: 2px solid $color-light-grey;
    border-radius: 20px;
    padding: 10px 20px;
    width: 30%;
}
#name,#email{
    margin-right: 5%;
}
#message{
    display: block;
    width: 100%;
    margin-top: 25px;
    padding: 10px 20px;
    border: 2px solid $color-light-grey;
    border-radius: 20px;
}
#submit{
    display: block;
    padding: 15px 50px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-pink;
    color:white;
    border: 0px solid transparent;
    border-radius: 50px;
}