.servicesline{
    padding-top: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: $max-width;
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
        &-header{
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 500px;
            align-items: center;
            justify-content: center;
            text-align: center;
            &-title{
                font-size: 36px;
                color: $color-grey;
                padding: 0px;
                margin: 0px;
                margin-top: 65px;
            }
            &-explanation{
                font-size: 14px;
                color: $color-dark-grey;
            }
            &-separator{
                display: block;
                width: 100px;
                height: 3px;
                background-color: $color-pink;
            }
        }
        &-services{
            display: flex;
            width: 100%;
            max-width: $max-width;
            //flex-direction: column;
            justify-content: center;
            align-items: center;
            &-container{
                margin-top: 25px;
                display: flex;
                height: 250px;
                margin-right: 50px;
                &:last-child{
                    margin-right:0px;
                }
                &-logo{
                    display: flex;
                    width: 70px;
                    height: 70px;
                    margin-top: 15px;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    border: 1px solid $color-light-grey;
                    border-radius: 100%;
                    flex-shrink: 0;
                }
                &-content{
                    padding-left: 20px;
                    &-title{
                        font-size: 18px;
                    }
                    &-explanation{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}